header #hs1 {
  background-color: cornflowerblue;
  color: white;
  text-transform: uppercase;
}

header #hs1 .container-flex > * {
  margin-left: 20px;
}

header #hs2 {
  background-color: white;
}

header #hs2 nav {
  justify-content: space-between;
  align-items: center;
}

header #hs2 nav img {
  height: 50px;
}

header #hs2 nav ul {
  list-style: none;
}

header #hs2 nav ul li {
  display: inline-block;
  padding: 30px 10px;
  text-transform: uppercase;
}

header #hs2 nav .searchbar {
  border-bottom: 2px solid cornflowerblue;
}

header #hs2 nav .searchbar input {
  border: none;
  text-align: right;
}

header #hero {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: 100%;
  height: 325px;
}

#comics .container .title {
  display: inline-block;
  position: relative;
  top: -20px;
  background-color: cornflowerblue;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
}

#comics .container .container-flex {
  flex-wrap: wrap;
}

#comics .container .container-flex .item {
  padding: 0 10px 20px;
  width: calc(100% / 6);
}

#comics .container .container-flex .item .img-container {
  width: 100%;
  height: 170px;
  overflow: hidden;
}

#comics .container .container-flex .item .img-container img {
  width: 100%;
}

#comics .container .container-flex .item p {
  color: white;
  text-transform: uppercase;
  font-size: small;
  margin-top: 10px;
}

#comics .container .btn-container {
  margin: 20px auto;
  width: 200px;
}

#comics .container .btn-container button {
  background-color: cornflowerblue;
  color: white;
  text-transform: uppercase;
  padding: 10px 50px;
}

#comics .banner {
  background-color: cornflowerblue;
}

#comics .banner .container {
  padding: 30px 0;
}

#comics .banner ul {
  list-style: none;
  justify-content: space-around;
}

#comics .banner ul li {
  display: inline-flex;
  padding: 10px;
  align-items: center;
}

#comics .banner ul li img {
  width: 40px;
}

#comics .banner ul li span {
  text-transform: uppercase;
  color: white;
  margin-left: 10px;
}

#single #ss1 {
  background-color: cornflowerblue;
  padding: 20px 0;
}

#single #ss1 .small-container {
  position: relative;
}

#single #ss1 .small-container .img-container {
  position: absolute;
  bottom: 0;
}

#single #ss1 .small-container .img-container .more {
  position: absolute;
  bottom: 0;
  background-color: turquoise;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

#single #ss2 {
  background-color: white;
  padding: 30px 0;
}

#single #ss2 .text-box {
  flex-grow: 1;
  margin-right: 20px;
}

#single #ss2 .text-box h2 {
  color: blue;
  text-transform: uppercase;
}

#single #ss2 .text-box .pricebox {
  background-color: green;
  color: white;
  align-items: center;
}

#single #ss2 .text-box .pricebox span {
  color: lightgreen;
}

#single #ss2 .text-box .pricebox .text-white {
  color: white;
}

#single #ss2 .text-box .pricebox button {
  padding: 10px 20px;
  border-left: 1px solid black;
  background-color: transparent;
  color: white;
}

#single #ss3 {
  background-color: lightgray;
}

#single #ss3 .small-container {
  padding: 20px 0 50px;
}

#single #ss3 .small-container .col {
  width: calc(50% - 10px);
}

#single #ss3 .small-container .col:first-of-type {
  margin-right: 20px;
}

#single #ss3 .small-container .col h3 {
  color: blue;
  margin-bottom: 20px;
}

#single #ss3 .small-container .col table {
  font-size: small;
  width: 100%;
  border-spacing: 0;
}

#single #ss3 .small-container .col table tr td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

#single #ss3 .small-container .col table tr td:first-of-type {
  color: blue;
  width: 30%;
}

footer #fs1 {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-size: 100%;
}

footer #fs1 .left-side {
  padding: 30px 0;
}

footer #fs1 .left-side .footer-links .col {
  margin-right: 30px;
}

footer #fs1 .left-side .footer-links .col h3 {
  color: white;
  text-transform: uppercase;
  margin: 10px 0;
}

footer #fs1 .left-side .footer-links .col ul {
  list-style: none;
}

footer #fs1 .left-side .footer-links .col ul li {
  font-size: small;
  color: lightgray;
}

footer #fs1 .left-side .footer-links .col ul li a:hover {
  color: white;
}

footer #fs1 .left-side p {
  margin-top: 20px;
  font-size: small;
  color: lightgray;
}

footer #fs1 .left-side p a {
  color: cornflowerblue;
}

footer #fs1 .left-side p a:hover {
  color: lightblue;
}

footer #fs1 .logo-container {
  overflow: hidden;
  position: relative;
}

footer #fs1 .logo-container img {
  height: 450px;
  position: absolute;
  right: 0;
  top: -60px;
}

footer #fs2 {
  background-color: black;
}

footer #fs2 .container {
  padding: 20px 0;
  align-items: center;
}

footer #fs2 .container button {
  color: white;
  border: 2px solid cornflowerblue;
  padding: 10px;
  background-color: transparent;
  text-transform: uppercase;
}

footer #fs2 .container span {
  color: cornflowerblue;
  font-size: 20px;
  text-transform: uppercase;
}

footer #fs2 .container img {
  height: 30px;
  margin-left: 20px;
}

.container-flex {
  display: flex;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.small-container {
  max-width: 900px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.filler {
  flex-grow: 1;
}

.bg-black {
  background-color: #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

