#comics {
    .container {
        .title {
            display: inline-block;
            position: relative;
            top: -20px;
            background-color: cornflowerblue;
            padding: 10px 20px;
            color: white;
            text-transform: uppercase;
        }
        .container-flex {
            flex-wrap: wrap;
            .item {
                padding: 0 10px 20px;
                width: calc(100% / 6);
                .img-container {
                    // con le variabili verrà meglio
                    width: 100%;
                    height: 170px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                p {
                    color: white;
                    text-transform: uppercase;
                    font-size: small;
                    margin-top: 10px;
                }
            }
        }
        .btn-container {
            margin: 20px auto;
            width: 200px;
            button {
                background-color: cornflowerblue;
                color: white;
                text-transform: uppercase;
                padding: 10px 50px;
            }
        }
    }
    .banner {
        background-color: cornflowerblue;
        .container {
            padding: 30px 0;
        }
        ul {
            list-style: none;
            justify-content: space-around;
            li {
                display: inline-flex;
                padding: 10px;
                align-items: center;
                img {
                    width: 40px;
                }
                span {
                    text-transform: uppercase;
                    color: white;
                    margin-left: 10px;
                }
            }
        }
    }
}

#single {
    #ss1 {
        background-color: cornflowerblue;
        padding: 20px 0;
        .small-container {
            position: relative;
            .img-container {
                position: absolute;
                bottom: 0;
                .more {
                    position: absolute;
                    bottom: 0;
                    background-color: turquoise;
                    color: white;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }
    }
    #ss2 {
        background-color: white;
        padding: 30px 0;
        .text-box {
            flex-grow: 1;
            margin-right: 20px;
            h2 {
                color: blue;
                text-transform: uppercase;
            }
            .pricebox {
                background-color: green;
                color: white;
                align-items: center;
                span {
                    color: lightgreen;
                }
                .text-white {
                    color: white;
                }
                button {
                    padding: 10px 20px;
                    border-left: 1px solid black;
                    background-color: transparent;
                    color: white;
                }
            }
        }
    }
    #ss3 {
        background-color: lightgray;
        .small-container {
            padding: 20px 0 50px;
            .col {
                width: calc(50% - 10px);
                &:first-of-type {
                    margin-right: 20px;
                }
                h3 {
                    color: blue;
                    margin-bottom: 20px;
                }
                table {
                    font-size: small;
                    width: 100%;
                    border-spacing: 0;
                    tr {
                        td {
                            border-top: 1px solid black;
                            border-bottom: 1px solid black;
                            padding: 10px 0;
                            &:first-of-type {
                                color: blue;
                                width: 30%;
                            }
                        }
                    }
                }
            }
        }
    }
}